<div class="footnote">
    This is part of a series of articles exploring a node based, no code, web development user interface.
    <ul>
        <li><a href="https://dionsnoeijen.nl/ui/dev/2020/02/15/leaving-projects-behind.html">Leaving projects behind</a></li>
        <li><a href="https://dionsnoeijen.nl/concept/2020/02/17/rethinking-the-approach.html">Rethinking the approach</a></li>
        <li><a href="https://dionsnoeijen.nl/concept/2020/02/17/say-hello-world.html">Say hello world</a></li>
        <li><a href="https://dionsnoeijen.nl/concept/2020/02/23/hello-switch.html">Hello switch</a></li>
    </ul>
</div>
