---
layout: default
body_class: cv
---

<div class="home">
    <div class="layout">
        <div class="left">
            <canvas width="20px" height="20px"></canvas>
            <img class="me" src="/images/profiel.jpg" alt="Dion Snoeijen" />
            <div class="content">
                <p>Webdeveloper 15+ years experience</p>
                <h2>Contact</h2>
                <ul class="clean">
                    <li><img src="/images/user.svg" alt="User" width="20px" />Dion Snoeijen</li>
                    <li><a href="mailto:hallo@dionsnoeijen.nl"><img src="/images/mail.svg" alt="Mail" width="20px" />hallo@dionsnoeijen.nl</a></li>
                    <li><a href="tel:+31 621819181"><img src="/images/phone.svg" alt="Phone" width="20px" />+31 (0)6-21819181</a></li>
                    <li>Orion 4<br />5505VM - Veldhoven<br />Netherlands</li>
                    <li>KVK: 83637257</li>
                    <li>BTW: NL003853507B84</li>
                </ul>
                <h2>Links</h2>
                <ul class="clean">
                    <li><a href="https://github.com/dionsnoeijen" target="_blank"><img src="/images/github.svg" alt="Github" width="20px" />GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/dionsnoeijen/" target="_blank"><img src="/images/linkedin.svg" alt="LinkedIn" width="20px" />LinkedIn</a></li>
                    <li><a href="https://codepen.io/octopus11" target="_blank"><img src="/images/codepen.svg" alt="Codepen" width="20px" />Codepen</a></li>
                    <li><a href="https://twitter.com/Tardigrade111" target="_blank"><img src="/images/twitter.svg" alt="Twitter" width="20px" />Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCe3vKeCps84UW3b2B0Pyx5A" target="_blank"><img src="/images/youtube.svg" alt="YouTube" width="20px" />YouTube</a></li>
                </ul>
                <h2>Top skills</h2>
                <ul class="skills">
                    <li><a href="https://www.php.net/" target="_blank">PHP: Current 8.x</a></li>
                    <li><a href="https://symfony.com/">Framework of choice: Symfony</a></li>
                    <li>Secondary: <a href="https://laravel.com/" target="_blank">Laravel</a> and <a href="https://www.yiiframework.com/" target="_blank">Yii2.x</a></li>
                    <li>JavaScript</li>
                    <li>Framework of choice: <a href="https://reactjs.org/" target="_blank">React.js</a> with <a href="https://react-redux.js.org" target="_blank">Redux</a></li>
                    <li>Secondary: <a href="https://vanilla.js.org/" target="_blank">Vanilla JS</a></li>
                    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
                    <li><a href="https://aws.amazon.com" target="_blank">Aws</a></li>
                    <li><a href="https://kubernetes.io/" target="_blank">Kubernetes</a></li>
                    <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
                </ul>
                <h2>Additional skills</h2>
                <ul class="skills">
                    <li><a href="https://craftcms.com/" target="_blank">Craft CMS</a></li>
                    <li><a href="https://expressionengine.com/" target="_blank">ExpressionEngine CMS</a></li>
                    <li><a href="https://www.getsymphony.com/" target="_blank">Symphony CMS</a></li>
                    <li><a href="https://www.elastic.co/" target="_blank">ElasticSearch</a></li>
                    <li><a href="https://solr.apache.org/" target="_blank">SOLR</a></li>
                    <li><a href="https://api-platform.com/" target="_blank">API Platform</a></li>
                    <li><a href="https://webpack.js.org/" target="_blank">Webpack</a></li>
                    <li><a href="https://www.w3schools.com/html/" target="_blank">Html</a></li>
                    <li><a href="https://sass-lang.com/documentation/syntax" target="_blank">Scss</a></li>
                    <li><a href="https://www.mongodb.com/" target="_blank">Mongo DB</a></li>
                </ul>
                <h2>Languages</h2>
                <ul class="clean">
                    <li>Dutch - Native language</li>
                    <li>English - Good in speech and writing (daily speaker)</li>
                </ul>
                <h2>Some of my projects</h2>
                <ul class="clean">
                    <li><a href="https://github.com/dionsnoeijen/sexy-field" target="_blank">SexyField</a></li>
                    <li><a href="https://tardigrades.io/octopus" target="_blank">Octopus</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <h2>Experience</h2>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Tardigrades</h3>
                        <h4>Freelance Webdeveloper</h4>
                        <h5>3 Years</h5>
                    </div>
                    <p>Tardigrades is my webdevelopment company producing an ambitious #nocode platform named Octopus. While doing so, I enjoy freelance webdevelopment work.</p>
                    <ul>
                        <li>PHP 8.x</li>
                        <li>React JS</li>
                        <li>Redux</li>
                        <li>Aws</li>
                        <li>Docker</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Psybizz B.V</h3>
                        <h4>Senior Developer</h4>
                        <h5>5.5 Years</h5>
                    </div>
                    <p>Senior team member responsible for the assessment tooling of LTP Business Psychologists B.V. They specialize in assessments and we build the software to facilitate the whole assessment flow. At this location I learned a lot about DevOps, working in a scrum team, DDD and microservices. Also, I had the chance to build my own Symfony bundle to speed up development, this bundle is publicly available.</p>
                    <ul>
                        <li>PHP 7.x - 8.x</li>
                        <li>Symfony 2.x - 5.x</li>
                        <li>Javascript (Node.js)</li>
                        <li>Python (Aws Lambda)</li>
                        <li>React JS</li>
                        <li>Redux</li>
                        <li>Docker</li>
                        <li>Kubernetes</li>
                        <li>Microservices</li>
                        <li>Scrum</li>
                        <li>Kanban</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Middlemen</h3>
                        <h4>Senior Developer</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>MiddleMen is a startup I was asked to join. After taking some time thinking about this I took the chance. We were building software for managing “Flexplekken”. It’s called MyWorkspace. In short, this software keeps track of available workspaces in enterprise work environments. I have been working on this software from the start and had a large impact on the architectural and technological implementation. We were working closely with “Gemeente Utrecht” for our first large implementation.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Node.js</li>
                        <li>Symfony Framework</li>
                        <li>Mongo DB</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>WebEngine</h3>
                        <h4>Lead Developer</h4>
                        <h5>1.5 Years</h5>
                    </div>
                    <p>At WebEngine I had the responsibility for the web development team. I made sure the architecture of the software met the needs of the end product. I managed the development process and made sure everything was ready for the team(s) so they knew what to do.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Laravel</li>
                        <li>Symfony Framework</li>
                        <li>In house CMS</li>
                        <li>React</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Webs</h3>
                        <h4>Lead developer</h4>
                        <h5>1.5 Years</h5>
                    </div>
                    <p>At Webs, I was responsible for the development team. Together with the team, we designed the architecture for large websites and web- applications before we went over to the actual development process consisting of back, and frontend development. I was connected to the design process to be able to make early technological decisions.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Craft CMS</li>
                        <li>Webmanage (Inhouse CMS)</li>
                        <li>Yii 1.x</li>
                        <li>jQuery</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Apsbb | Canday</h3>
                        <h4>Lead Developer</h4>
                        <h5>3 Years</h5>
                    </div>
                    <p>Responsible for the development of mainly commercial websites and applications. I function as the link between several departments. Think of concept, account and web design to make sure web-projects can be correctly estimated in terms of impact on finances and capacity. Next to that, I build back and front-end applications.</p>
                    <ul>
                        <li>Flash</li>
                        <li>ActionScript 3.x</li>
                        <li>PHP 4.x - 5.x</li>
                        <li>CodeIgniter</li>
                        <li>ExpressionEngine 2.x</li>
                        <li>Symphony CMS (not symfony)</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>AGH & Friends</h3>
                        <h4>Webdeveloper</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>Agency, flash and ExpressionEngine based websites. Mainly developed an As3.0 / Flash framework to enhance full flash website development efficiency.</p>
                    <ul>
                        <li>Flash</li>
                        <li>ActionScript 2.x - 3.x</li>
                        <li>PHP 4.x</li>
                        <li>ExpressionEngine 1.x - 2.x</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Octografx</h3>
                        <h4>Webdeveloper</h4>
                        <h5>2 Years</h5>
                    </div>
                    <p>My webdevelopment agency specializing in 3d on the internet and the creation of business websites and webapplications.</p>
                    <ul>
                        <li>PHP 4.x - 5.x</li>
                        <li>Flash</li>
                        <li>Unity 3d</li>
                        <li>Modo 301</li>
                        <li>JavaScript</li>
                        <li>ExpressionEngine 1.x</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>VCS Creative Solutions</h3>
                        <h4>CAD indoor playground designer and developer</h4>
                        <h5>5 Years</h5>
                    </div>
                    <p>Responsible for the preparation and design process regarding sales and production of indoor playgrounds. My work ranged from creating 3d artist impressions to help the sales department. But also, based on these artist impressions I created technical drawings for production. I have automated this process wherever possible by creating software to simplify the design and technical process within the CAD software (Autodesk Inventor) in the form of extensions, stand-alone software and VBA scripts for Excel.</p>
                    <ul>
                        <li>Autodesk Inventor 10.x</li>
                        <li>VBA for Excel and Inventor</li>
                        <li>Adobe Master Collection</li>
                        <li>Autocad</li>
                        <li>Pointline CAD</li>
                        <li>3ds Max</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Sign 'o the Times</h3>
                        <h4>Webmaster, designer</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>Responsible for the creation and maintenance of internal websites and presentation materials.</p>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Van Empel Grootkeuken</h3>
                        <h4>Interior Carpenter</h4>
                        <h5>3.5 Years</h5>
                    </div>
                    <p>I started out as a carpenter, building interiors for Japanese and Chinese restaurants. Soon enough I took the opportunities that were in front of me so I could grow towards the direction I really wanted, which is computer nerdery.</p>
                    <ul>
                        <li>Hammer</li>
                        <li>Saw</li>
                        <li>Measuring instruments</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <h2>Hobby</h2>
                <p>My creative mind brought me to the art of programming. I see it like anything else I use for creation; it's a tool. In the end I'm about creating beautiful things that work.</p>
                <ul>
                    <li>Music</li>
                    <li>Blender 3d</li>
                    <li>Drawing / Painting</li>
                    <li>Reading</li>
                    <li>Art</li>
                    <li>Creative Coding</li>
                </ul>
            </div>
            <div class="content">
                <h2>Education</h2>
                <ul>
                    <li>ICN Solutions, Autodesk Inventor</li>
                    <li>Middelbare School, Bouwkunde</li>
                </ul>
            </div>
            <div class="content">
                <h2>Personal</h2>
                <p>I’m married with children. I learn quickly, am easy to deal with and I’m a good communicator. I also have a creative and strong vision to help people grow and get projects done.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const canvas = document.querySelector('canvas');
    const context = canvas.getContext('2d');
    const left = document.querySelector('.left');

    const documentReady = callback => {
        if (document.readyState === 'complete' ||
            ( document.readyState !== 'loading' && !document.documentElement.doScroll )
        ) {
            callback();
        } else {
            document.addEventListener('DOMContentLoaded', callback);
        }
    };

    documentReady(() => {
        const setCanvasWidth = () => {
            const canvasSize = left.getBoundingClientRect().width-1;
            // Retina display
            if (window.devicePixelRatio > 1) {
                canvas.width = canvasSize*2;
                canvas.height = canvasSize*2;
            } else {
                canvas.width = canvasSize;
                canvas.height = canvasSize;
            }
            canvas.style.width = `${canvasSize}px`;
            canvas.style.height = `${canvasSize}px`;
        };
        setCanvasWidth();
        window.addEventListener('resize', setCanvasWidth);

        class Clear {
            update() {
                context.clearRect(0, 0, canvas.width, canvas.height);
            }
        }

        function Vector(x, y, z) {

            this.x = x;
            this.y = y;
            this.z = z === undefined ? 0 : z;

            this.add = function(v) {

                this.x += v.x;
                this.y += v.y;
                this.z += v.z;

                return this;
            };

            this.addX = function(n) {
                this.x += n;

                return this;
            };

            this.addY = function(n) {
                this.y += n;

                return this;
            };

            this.addZ = function(n) {
                this.z += n;

                return this;
            };

            this.subtract = function(v) {
                this.x -= v.x;
                this.y -= v.y;
                this.z -= v.z;

                return this;
            };

            this.subtractX = function(n) {
                this.x -= n;

                return this;
            };

            this.subtractY = function(n) {
                this.y -= n;

                return this;
            };

            this.subtractZ = function(n) {
                this.z -= n;

                return this;
            };

            this.multiply = function(n) {

                this.x *= n;
                this.y *= n;
                this.z *= n;

                return this;
            };

            this.multiplyX = function(n) {
                this.x *= n;

                return this;
            };

            this.multiplyY = function(n) {
                this.y *= n;

                return this;
            };

            this.multiplyZ = function(n) {
                this.z *= z;

                return this;
            };

            this.divide = function(n) {

                this.x /= n;
                this.y /= n;
                this.z /= n;

                return this;
            };

            this.magnitude = function() {

                return Math.sqrt(this.x * this.x + this.y * this.y + this.z * this.z);
            };

            this.normalize = function() {
                var m = this.magnitude();
                if (m !== 0) {
                    this.divide(m);
                }
            };

            this.limit = function(n) {

                if (this.magnitude() > n) {
                    this.normalize();
                    this.multiply(n);
                }
            };

            this.distance = function(v) {

                var dx = this.x - v.x,
                    dy = this.y - v.y,
                    dz = this.z - v.z;

                return Math.sqrt(dx * dx + dy * dy + dz * dz);
            };

            this.invert = function() {

                this.x *= -1;
                this.y *= -1;
                this.z *= -1;

                return this;
            };

            this.inverseX = function() {

                this.x *= -1;

                return this;
            };

            this.inverseY = function() {

                this.y *= -1;

                return this;
            };

            this.inverseZ = function() {

                this.z *= -1;

                return this;
            };

            this.get = function() {

                return new Vector(this.x, this.y, this.z);
            };

            this.dot = function(v) {

                return this.x * v.x + this.y * v.y + this.z * v.z;
            };
        }

        // -------------------------
        // Vector: Static
        // -------------------------

        Vector.add = function(v1, v2) {

            var v3 = new Vector(v1.x + v2.x, v1.y + v2.y, v1.z + v2.z);

            return v3;
        };

        Vector.subtract = function(v1, v2) {

            var v3 = new Vector(v1.x - v2.x, v1.y - v2.y, v1.z - v2.z);

            return v3;
        };

        Vector.multiply = function(v1, v2) {

            var v3 = new Vector(v1.x * v2.x, v1.y * v2.y, v1.z * v2.z);

            return v3;
        };

        Vector.divide = function(v1, v2) {

            if (typeof v2 === Vector) {
                var v3 = new Vector(v1.x / v2.x, v1.y / v2.y, v1.z / v2.z);
            } else {
                var v3 = new Vector(v1.x / v2, v1.y / v2, v1.z / v2);
            }

            return v3;
        };

        Vector.distance = function(v1, v2) {

            return v1.distance(v2);
        };

        Vector.copy = function(v) {
            return new Vector(v.x, v.y, v.z);
        };

        Vector.random2D = function() {

            var x = parseInt((Math.random() * 3)) -1;
            var y = parseInt((Math.random() * 3)) -1;
            var z = parseInt((Math.random() * 2)) -1;

            var v1 = new Vector(x, y, z);
            return v1;
        };

        // -------------------------
        // Color my world
        // -------------------------

        class Color {

            constructor(increment) {
                this.color = {r:0,g:0,b:0,a:1};
                this.angle = 0;
                this.colorIncrement = increment;
                this.alphaBaseValue = .5;
                this.baseValue = 256/2;
            }

            update() {
                this.color.r = this.baseValue + Math.floor(Math.sin(this.angle) * this.baseValue);
                this.color.g = this.baseValue + Math.floor(Math.cos(this.angle) * this.baseValue);
                this.color.b = this.baseValue + Math.floor(Math.tan(this.angle) * this.baseValue);

                this.angle += this.colorIncrement;

                return 'rgba(' + this.color.r + ',' + this.color.g + ',' + this.color.b + ',' + this.color.a + ')';
            }

            static create(increment = 0) {
                return new Color(increment);
            }

        }

        'use strict';

        class Pattern {

            constructor(position, width, height, color) {

                this.initialPosition = Vector.copy(position);

                this.position = position;
                this.width = width;
                this.height = height;
                this.counter = 0;
                this.color = color;

                this.speed = .009;
                this.lineDensity = .1;
                this.lineElementLength = 2;
                this.crazySinAmount = 0;
                this.crazyCosAmount = 1;
                this.crazySinAmplitude = 1.1;
                this.crazyCosAmplitude = 2;
                this.depthX = -3.1;
                this.depthY = 6;
                this.spiralHeight = 0;
                this.spiralDensity = 11;
                this.lineWidth = .3;
            }

            update() {
                this.position = Vector.add(this.initialPosition, new Vector(0, (this.spiralHeight * 30)));
                this.draw();
                this.counter += this.speed;
            }

            draw() {

                for (let i = this.lineDensity ; i < Math.PI * this.spiralDensity ; i += this.lineDensity) {

                    context.beginPath();
                    context.strokeStyle = this.color.update();
                    context.lineWidth = this.lineWidth;
                    context.lineJoin = 'round';

                    let crazySin = this.crazySinAmount * (Math.sin(this.counter) * this.crazySinAmplitude);
                    let crazyCos = this.crazyCosAmount * (Math.cos(this.counter) * this.crazyCosAmplitude);

                    let moveToX =
                        this.position.x +
                        (
                            (
                                Math.sin(
                                    crazySin + this.counter +
                                    (
                                        i - ( this.lineDensity + this.lineElementLength )
                                    )
                                ) *
                                (
                                    ( (this.width / 2) - i * this.depthX ) -
                                    ( i - ( this.lineDensity + this.lineElementLength ) )
                                )
                            )
                        );

                    let moveToY =
                        (
                            this.position.y - (
                                (
                                    i - ( this.lineDensity + this.lineElementLength )
                                ) * this.spiralHeight
                            )
                        ) +
                        (
                            (
                                Math.cos(
                                    crazyCos + this.counter +
                                    ( i - ( this.lineDensity + this.lineElementLength ) )
                                ) *
                                (
                                    ( this.height / 2 ) - ( i * this.depthY )
                                )
                            )
                        );

                    let lineToX =
                        this.position.x +
                        (
                            (
                                Math.sin(
                                    crazyCos + this.counter + i
                                ) *
                                ( (this.width / 2 - i) - ( i * this.depthX ) )
                            )
                        );

                    let lineToY =
                        (
                            this.position.y -
                            ( i * this.spiralHeight )
                        ) +
                        (
                            (
                                Math.cos(
                                    crazySin + this.counter + i
                                ) *
                                ( ( this.height / 2 ) - ( i * this.depthY ) )
                            )
                        );

                    context.moveTo(moveToX, moveToY);
                    context.lineTo(lineToX, lineToY);
                    context.stroke();
                }
            }
        }

        const clear = new Clear();
        const color = Color.create(.1);
        const pattern = new Pattern(new Vector(canvas.width/2, canvas.height/2), 450, 450, color);

        const animate = () => {
            clear.update();
            pattern.update();
            requestAnimationFrame(animate);
        };
        animate();
    });

</script>
