---
layout: default
body_class: cv
---

<div class="home">
    <div class="layout">
        <div class="left">
            <img class="me" src="/images/profiel.jpg" alt="Dion Snoeijen" />
            <div class="content">
                <p>Webdeveloper 15+ years experience</p>
                <h3>Contact</h3>
                <ul>
                    <li><a href="mailto:hallo@dionsnoeijen.nl">hallo@dionsnoeijen.nl</a></li>
                    <li><a href="tel:+31 621819181">+31 (0)6-21819181</a></li>
                    <li>Orion 4<br />5505VM - Veldhoven<br />Netherands</li>
                </ul>
                <h3>Links</h3>
                <ul>
                    <li><a href="https://github.com/dionsnoeijen" target="_blank"><img src="/images/github.svg" alt="Github" width="20px" />GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/dionsnoeijen/" target="_blank"><img src="/images/linkedin.svg" alt="LinkedIn" width="20px" />LinkedIn</a></li>
                    <li><a href="https://codepen.io/octopus11" target="_blank"><img src="/images/codepen.svg" alt="Codepen" width="20px" />Codepen</a></li>
                    <li><a href="https://twitter.com/Tardigrade111" target="_blank"><img src="/images/twitter.svg" alt="Twitter" width="20px" />Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCe3vKeCps84UW3b2B0Pyx5A" target="_blank"><img src="/images/youtube.svg" alt="YouTube" width="20px" />YouTube</a></li>
                </ul>
                <h3>Top Skills</h3>
                <ul>
                    <li><a href="https://www.php.net/" target="_blank">PHP: Current 8.x</a></li>
                    <li>Framework of choice: <a href="https://symfony.com/">Symfony</a></li>
                    <li>Secondary: <a href="https://laravel.com/" target="_blank">Laravel</a> and <a href="https://www.yiiframework.com/" target="_blank">Yii2.x</a></li>
                    <li>JavaScript</li>
                    <li>Framework of choice: <a href="https://reactjs.org/" target="_blank">React.js</a> with <a href="https://react-redux.js.org" target="_blank">Redux</a></li>
                    <li>Secondary: <a href="https://vanilla.js.org/" target="_blank">Vanilla JS</a></li>
                    <li>Docker</li>
                    <li>Aws</li>
                    <li>Kubernetes</li>
                    <li>MySQL</li>
                </ul>
                <h3>Secondary skills</h3>
                <ul>
                    <li><a href="https://craftcms.com/" target="_blank">Craft CMS</a></li>
                    <li><a href="https://expressionengine.com/" target="_blank">ExpressionEngine CMS</a></li>
                    <li><a href="https://www.getsymphony.com/" target="_blank">Symphony CMS</a></li>
                    <li><a href="https://www.elastic.co/" target="_blank">ElasticSearch</a></li>
                    <li><a href="https://solr.apache.org/" target="_blank">SOLR</a></li>
                    <li><a href="https://api-platform.com/" target="_blank">API Platform</a></li>
                    <li><a href="https://webpack.js.org/" target="_blank">Webpack</a></li>
                    <li><a href="https://www.w3schools.com/html/" target="_blank">Html</a></li>
                    <li><a href="https://sass-lang.com/documentation/syntax" target="_blank">Scss</a></li>
                    <li><a href="" target="_blank">Mongo DB</a></li>
                </ul>
                <h3>Languages</h3>
                <ul>
                    <li>Dutch - Native language</li>
                    <li>English - Good in speech and writing (daily speaker)</li>
                </ul>
                <h3>Some of my projects</h3>
                <ul>
                    <li><a href="https://github.com/dionsnoeijen/sexy-field" target="_blank">SexyField</a></li>
                    <li><a href="https://tardigrades.io/octopus" target="_blank">Octopus</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <h2>Experience</h2>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Tardigrades</h3>
                        <h4>Freelance Webdeveloper</h4>
                        <h5>3 Years</h5>
                    </div>
                    <p>Tardigrades is my webdevelopment company producing an ambitious #nocode platform named Octopus. While doing so, I enjoy freelance webdevelopment work.</p>
                    <ul>
                        <li>PHP 8.x</li>
                        <li>React JS</li>
                        <li>Redux</li>
                        <li>Aws</li>
                        <li>Docker</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Psybizz B.V</h3>
                        <h4>Senior Developer</h4>
                        <h5>5.5 Years</h5>
                    </div>
                    <p>Senior team member responsible for the assessment tooling of LTP Business Psychologists B.V. They specialize in assessments and we build the software to do so. At this location I learned a lot about DevOps, working in a scrum team, DDD and microservices. Also, I had the chance to build my own Symfony bundle to speed up development, this bundle is publicly available.</p>
                    <ul>
                        <li>PHP 7.x - 8.x</li>
                        <li>Symfony 2.x - 5.x</li>
                        <li>Javascript (Node.js)</li>
                        <li>Python (Aws Lambda)</li>
                        <li>React JS</li>
                        <li>Redux</li>
                        <li>Docker</li>
                        <li>Kubernetes</li>
                        <li>Microservices</li>
                        <li>Scrum</li>
                        <li>Kanban</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Middlemen</h3>
                        <h4>Senior Developer</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>MiddleMen is a startup I was asked to join. After taking some time thinking about this I took the chance. We were building software for managing “Flexplekken”. It’s called MyWorkspace. In short, this software keeps track of available workspaces in enterprise work environments. I have been working on this software from the start and had a large impact on the architectural and technological implementation. We were working closely with “Gemeente Utrecht” for our first large implementation.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Node.js</li>
                        <li>Symfony Framework</li>
                        <li>Mongo DB</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>WebEngine</h3>
                        <h4>Lead Developer</h4>
                        <h5>1.5 Years</h5>
                    </div>
                    <p>At WebEngine I had the responsibility of the web development team. I make sure the architecture of the software meets the needs of the end product. I manage the development process and make sure everything is ready for the team(s) so they know what to do. Also, I actively build software components. Mainly using PHP in combination with the Symfony2 framework. Most of my time I worked with the company LTP Business Psychologists for a large project delivered to Randstad.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Laravel</li>
                        <li>Symfony Framework</li>
                        <li>In house CMS</li>
                        <li>React</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Webs</h3>
                        <h4>Lead developer</h4>
                        <h5>1.5 Years</h5>
                    </div>
                    <p>At Webs, I was responsible for the development team. Together with the team, we thought out the architecture for large websites and web- applications before we went over to the actual development process consisting of back, and frontend development. I was connected to the design process to be able to make early technological decisions.</p>
                    <ul>
                        <li>PHP 5.x</li>
                        <li>Craft CMS</li>
                        <li>Webmanage (Inhouse CMS)</li>
                        <li>Yii 1.x</li>
                        <li>jQuery</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Apsbb | Canday</h3>
                        <h4>Lead Developer</h4>
                        <h5>3 Years</h5>
                    </div>
                    <p>Responsible for the development of mainly commercial websites and applications. I function as the link between several departments. Think of concept, account and web design to make sure web-projects can be correctly estimated in terms of impact on finances and capacity. Next to that, I build back and front-end applications.</p>
                    <ul>
                        <li>Flash</li>
                        <li>ActionScript 3.x</li>
                        <li>PHP 4.x - 5.x</li>
                        <li>CodeIgniter</li>
                        <li>ExpressionEngine 2.x</li>
                        <li>Symphony CMS (not symfony)</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>AGH & Friends</h3>
                        <h4>Webdeveloper</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>Agency, flash and ExpressionEngine based websites. Mainly developed an As3.0 / Flash framework to enhance full flash website development efficiency.</p>
                    <ul>
                        <li>Flash</li>
                        <li>ActionScript 2.x - 3.x</li>
                        <li>PHP 4.x</li>
                        <li>ExpressionEngine 1.x - 2.x</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Octografx</h3>
                        <h4>Webdeveloper</h4>
                        <h5>2 Years</h5>
                    </div>
                    <p>My webdevelopment agency specializing in 3d on the internet and the creation of business websites and webapplications.</p>
                    <ul>
                        <li>PHP 4.x - 5.x</li>
                        <li>Flash</li>
                        <li>Unity 3d</li>
                        <li>Modo 301</li>
                        <li>JavaScript</li>
                        <li>ExpressionEngine 1.x</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>VCS Creative Solutions</h3>
                        <h4>CAD indoor playground designer and developer</h4>
                        <h5>5 Years</h5>
                    </div>
                    <p>Responsible for the preparation and design process regarding sales and production of indoor playgrounds. My work ranged from creating 3d artist impressions to help the sales department. But also, based on these artist impressions I created technical drawings for production. I have automated this process wherever possible by creating software to simplify the design and technical process within the CAD software (Autodesk Inventor) in the form of extensions, stand-alone software and VBA scripts for Excel.</p>
                    <ul>
                        <li>Autodesk Inventor 10.x</li>
                        <li>VBA for Excel and Inventor</li>
                        <li>Adobe Master Collection</li>
                        <li>Autocad</li>
                        <li>Pointline CAD</li>
                        <li>3ds Max</li>
                    </ul>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Sign 'o the Times</h3>
                        <h4>Webmaster, designer</h4>
                        <h5>1 Year</h5>
                    </div>
                    <p>Responsible for the creation and maintenance of internal websites and presentation materials.</p>
                </div>
                <div class="experience">
                    <div class="experience--heading">
                        <h3>Van Empel Grootkeuken</h3>
                        <h4>Interior Carpenter</h4>
                        <h5>3.5 Years</h5>
                    </div>
                    <p>I started out as a carptenter, building interiors for Japanese and Chinese restaurants. Soon enough I took the oppertunities that were in front of me so I could grow towards the direction I really wanted.</p>
                    <ul>
                        <li>Hammer</li>
                        <li>Saw</li>
                        <li>Measuring instruments</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <h2>Hobby</h2>
                <p>My creative mind brought me to the art of programming. I see it like anything else I use for creation; it's a tool. In the end I'm about creating beautiful things that work.</p>
                <ul>
                    <li>Music</li>
                    <li>Blender 3d</li>
                    <li>Drawing / Painting</li>
                    <li>Reading</li>
                    <li>Art</li>
                    <li>Creative Coding</li>
                </ul>
            </div>
            <div class="content">
                <h2>Education</h2>
                <ul>
                    <li>ICN Solutions, Autodesk Inventor</li>
                    <li>Middelbare School, Bouwkunde</li>
                </ul>
            </div>
            <div class="content">
                <h2>Personal</h2>
                Personal
                <p>I’m married with children. I learn quickly, am easy to deal with and I’m a good communicator. I also have a creative and strong vision to help people grow and get projects done.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>
